*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:hsl(275, 100%, 97%);
    /* cursor:url('./assets/images/favicon-32x32.png'),auto; //cursor image has to be 32 by 32 pixels */
}
p{
    font-size:16px;
}

.header-pattern{
    background: url('./assets/images/background-pattern-desktop.svg');
    z-index:-1;
    height:200px;
    position:absolute;
    top:0;
    left:0;
    width:100%;

}
.main-card{
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    width: 576px;
    margin: 0 auto;
    margin-top:90px;
    padding:20px;
    background:white;
    border-radius:10px;
    box-shadow: 0 5px 20px hsl(292, 16%, 49%, 0.8)
}
.question {
    width:100%;
    padding:20px 0;
}
/* .question:last-child{ // you can do it this way to remove the bottom border of the last child
    border-bottom: none;
} */
.question:not(:last-child) {
    border-bottom: 2px solid #D3D3D3;
}
.question-headliner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
    font-size:20px;
    font-family:"Work Sans",Arial, Helvetica, sans-serif;
    color:hsl(292, 42%, 14%);
    width:100%;
}
.question-headliner:hover{
    cursor: pointer;
    color: #AD28EB;
    
}
.title{
    display:flex;
    align-items:center;
    font-family:"Work Sans",Arial, Helvetica, sans-serif;
}
.star{
    margin-right:10px;

}
.answer.active{
    display:block;
}
.answer{
    display:none;
    color: hsl(292, 16%, 49%);
    font-family:"Work Sans",Arial, Helvetica, sans-serif;
    margin-top:5px;
    line-height: 1.5;
}
.answer-icon:hover{
    cursor:pointer;
    
}
.icon-container{
    display:flex;
    align-items:center;
}


.attribution { 
    font-size: 20px; 
    text-align: center; 
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width:400px){
    .main-card{
        width:85%;
    }
    .header-pattern{
        background: url('./assets/images/background-pattern-mobile.svg');
    }
    .attribution{
        font-size:11px;
        width:85%;
        margin:0 auto;
    }
}

@media only screen and (min-width:401px) and (max-width:600px){
    .main-card{
        width: 85%;
    }

}