*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:hsl(275, 100%, 97%);
}
p{
    font-size:16px;
}
.header-pattern{
    background: url('./assets/images/background-pattern-desktop.svg');
    z-index:-1;
    height:200px;
    position:absolute;
    top:0;
    left:0;
    width:100%;

}
.main-card{
    z-index:10;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    width: 60%;
    border:2px solid red;
    margin: 0 auto;
    margin-top:90px;
    padding:20px;
    background:white;
}
.question1, .question2, .question3, .question4 {
    width:100%;
}
.question-headliner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
    font-size:20px;
    font-family:"Work Sans",Arial, Helvetica, sans-serif;
    border: 2px solid green;
    width:100%;
   
}
.title{
    font-family:"Work Sans",Arial, Helvetica, sans-serif;
}
.answer.active{
    display:block;
}
.answer{
    display:none;
}
.icon-container{
    display:flex;
    align-items:center;
    border: 2px solid red;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }